<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-lg-6">
            <div class="text-left mx-auto">
                <span class="textTitle">Plan Prográmate</span><br>
                <span class="textBody">
                    Ahora tú planeas cuándo serás adjudicado para tu nuevo
                    vehículo Chevrolet.
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <app-form></app-form>
        </div>
    </div>
</div>